:root[color-theme='original'] {
    --background-color: #faf8ef;
    --text-color: #776e65;
    --btn-bg-color: #8f7a66;
    --btn-text-color: #faf8ef;
    --score-bg-color: #bbada0;
    --score-label-color: #eee4da;
    --score-number-color: #faf8ef;
    --board-color: #bbada0;
    --cell-0-color: #cdc1b4;
    --cell-1-color: #eee4da;
    --cell-2-color: #eee1c9;
    --cell-3-color: #f3b27a;
    --cell-4-color: #f69664;
    --cell-5-color: #f77c5f;
    --cell-6-color: #f75f3b;
    --cell-7-color: #edd073;
    --cell-8-color: #edcc62;
    --cell-9-color: #edc950;
    --cell-10-color: #edc53f;
    --cell-11-color: #edc22e;
    --cell-dark-text-color: #776e65;
    --cell-light-text-color: #f9f6f2;
}

:root[color-theme='gray'] {
    --background-color: #ffffff;
    --text-color: #000000;
    --btn-bg-color: #808080;
    --btn-text-color: #ffffff;
    --score-bg-color: #d3d3d3;
    --score-label-color: #888888;
    --score-number-color: #000000;
    --board-color: #d3d3d3;
    --cell-0-color: #eeeeee;
    --cell-1-color: #aaaaaa;
    --cell-2-color: #999999;
    --cell-3-color: #888888;
    --cell-4-color: #777777;
    --cell-5-color: #666666;
    --cell-6-color: #555555;
    --cell-7-color: #444444;
    --cell-8-color: #333333;
    --cell-9-color: #222222;
    --cell-10-color: #111111;
    --cell-11-color: #000000;
    --cell-dark-text-color: #000000;
    --cell-light-text-color: #ffffff;
}

body {
    --cell-size: 100px;
    --cell-spacing: calc(var(--cell-size) * 0.1);

    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    font-size: calc(var(--cell-size) * 0.16);
}

@media (max-width: 500px) and (min-width: 300px) {
    body {
        --cell-size: 20vw;
    }
}

@media (max-width: 300px) {
    body {
        --cell-size: 60px;
    }
}

.wrapper {
    width: fit-content;
    margin: auto;
    margin-top: 3em;
}

/*
 * Top
 */

.top {
    display: grid;
    grid-template-areas:
        "title        score"
        "btn-new-game btn-menu";
    gap: 0.3em;
    justify-content: space-between;
}

.title {
    grid-area: title;

    font-size: 4em;
    font-weight: bold;
}

.score {
    grid-area: score;
    align-self: center;

    border-radius: 0.4em;
    padding: 0.6em 0.9em;

    background-color: var(--score-bg-color);
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.score .label {
    color: var(--score-label-color);
    font-size: 0.8em;
}

.score .number {
    color: var(--score-number-color);
    font-size: 1.2em;
}

.btn-new-game {
    grid-area: btn-new-game;
    justify-self: start;

    border-radius: 0.4em;
    padding: 0.6em 1.2em;

    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    font-weight: bold;
    cursor: pointer;
}

.btn-new-game:hover {
    box-shadow: inset 10em 10em rgba(0, 0, 0, 0.1);
}

.btn-new-game:active {
    box-shadow: inset 10em 10em rgba(0, 0, 0, 0.2);
}

.btn-menu {
    grid-area: btn-menu;
    justify-self: end;

    width: 2.55em;
    height: 2.55em;
    border-radius: 0.4em;
    
    background-color: var(--btn-bg-color);
    cursor: pointer;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-menu:hover {
    box-shadow: inset 10em 10em rgba(0, 0, 0, 0.1);
}

#menu-toggle:checked + .btn-menu {
    box-shadow: inset 10em 10em rgba(0, 0, 0, 0.2);
}

.btn-menu .line {
    width: 1.3em;
    height: 0.2em;
    margin: 0.1em auto;
    border-radius: 0.1em;
    background-color: var(--btn-text-color);
}

/*
 * Menu
 */

.menu {
    max-height: 15em;
    margin: 0.6em 0;
    border-radius: 0.6em;
    
    background-color: var(--cell-0-color);
    
    overflow: hidden;
    transition: max-height 0.2s ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.menu.collapsed {
    max-height: 0;
}

.menu > *:first-child {
    margin-top: 1em;
}

.menu > *:last-child {
    margin-bottom: 1em;
}

.menu select {
    border: none;
    border-radius: 0.4em;
    padding: 0.1em 0.6em;

    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1em;
}

.menu select:hover {
    box-shadow: inset 10em 10em rgba(0, 0, 0, 0.1);
}

.menu a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.menu a:hover {
    text-shadow: 0 0 1em var(--text-color);
}

/*
 * Board
 */

.board {
    position: relative;
    
    width: calc(var(--cell-size) * 4);
    height: calc(var(--cell-size) * 4);
    border: 5px solid var(--board-color);
    border-radius: 10px;

    background-color: var(--board-color);
}

.background-layer {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.foreground-layer {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-size: var(--cell-size);
}

.cell {
    position: absolute;

    width: var(--cell-size);
    height: var(--cell-size);
    padding: calc(var(--cell-spacing) / 2);
    box-sizing: border-box;

    font-weight: bold;
    transition: transform 100ms ease-in-out;
    will-change: transform;
}
.cell::after {
    content: '';

    width: 100%;
    height: 100%;
    border-radius: 5px;

    background-color: var(--cell-0-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.cell-new::after {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
}

@keyframes emphasize {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.cell-merge {
    z-index: 3;
}
.cell-merge::after {
    animation: emphasize 200ms ease 100ms;
    animation-fill-mode: backwards;
}

.cell.lv-1, .cell.lv-2, .cell.lv-3 { font-size: 40%; }
.cell.lv-4, .cell.lv-5, .cell.lv-6 { font-size: 40%; }
.cell.lv-7, .cell.lv-8, .cell.lv-9 { font-size: 30%; }
.cell.lv-10, .cell.lv-11 { font-size: 30%; }

.cell.lv-1, .cell.lv-2 { color: var(--cell-dark-text-color); }
.cell.lv-3, .cell.lv-4, .cell.lv-5, .cell.lv-6, .cell.lv-7, .cell.lv-8,
.cell.lv-9, .cell.lv-10, .cell.lv-11 { color: var(--cell-light-text-color); }

.cell.lv-1::after  { background-color: var(--cell-1-color);  content: '2'; }
.cell.lv-2::after  { background-color: var(--cell-2-color);  content: '4'; }
.cell.lv-3::after  { background-color: var(--cell-3-color);  content: '8'; }
.cell.lv-4::after  { background-color: var(--cell-4-color);  content: '16'; }
.cell.lv-5::after  { background-color: var(--cell-5-color);  content: '32'; }
.cell.lv-6::after  { background-color: var(--cell-6-color);  content: '64'; }
.cell.lv-7::after  { background-color: var(--cell-7-color);  content: '128'; }
.cell.lv-8::after  { background-color: var(--cell-8-color);  content: '256'; }
.cell.lv-9::after  { background-color: var(--cell-9-color);  content: '512'; }
.cell.lv-10::after { background-color: var(--cell-10-color); content: '1024'; }
.cell.lv-11::after { background-color: var(--cell-11-color); content: '2048'; }

.sq-00 { transform: translate(   0,    0); }
.sq-01 { transform: translate(100%,    0); }
.sq-02 { transform: translate(200%,    0); }
.sq-03 { transform: translate(300%,    0); }
.sq-10 { transform: translate(   0, 100%); }
.sq-11 { transform: translate(100%, 100%); }
.sq-12 { transform: translate(200%, 100%); }
.sq-13 { transform: translate(300%, 100%); }
.sq-20 { transform: translate(   0, 200%); }
.sq-21 { transform: translate(100%, 200%); }
.sq-22 { transform: translate(200%, 200%); }
.sq-23 { transform: translate(300%, 200%); }
.sq-30 { transform: translate(   0, 300%); }
.sq-31 { transform: translate(100%, 300%); }
.sq-32 { transform: translate(200%, 300%); }
.sq-33 { transform: translate(300%, 300%); }
